# MQTT Connection, if empty will query and use hassio provided mqtt
mqtt:
  host:
  port: 1883
  ssl: false
  username:
  password:

# This gets added to the x,y,z to derive a gps location
gps:
  latitude: 38.897957
  longitude: -77.036560
  elevation: 146
  rotation: 10 # Rotation in degrees from north (0 degrees)
  report: false # Include GPS latitude/longitude when reporting to Home Assistant

map:
  flip_x: false        # Set to true to flip X coordinates (default: false)
  flip_y: true         # Set to true to use bottom-left origin, false for top-left origin (default: true)
  wall_thickness: 0.1  # Wall thickness in meters
  wall_color: "#ddd"   # Optional wall color, if not set uses room color
  wall_opacity: 0.35   # Optional wall opacity, if not set defaults to 0.35

# How long before device considered stale
timeout: 30
# How long before device is considered away
away_timeout: 120

optimization:
  enabled: true
  interval_secs: 3600
  keep_snapshot_mins: 5   # How long to keep optimization snapshots (default: 5 minutes)
  optimizer: per_node_absorption # Options global_absorption, per_node_absorption, legacy (default: legacy)
  limits:
    absorption_min: 2.5
    absorption_max: 3.5
    rx_adj_rssi_min: -5
    rx_adj_rssi_max: 25
    tx_ref_rssi_min: -80
    tx_ref_rssi_max: -40
  weights:
    # Weighting factor for Pearson Correlation in best scenario scoring (default: 0.5)
    correlation: 0.5
    # Weighting factor for normalized RMSE in best scenario scoring (default: 0.5)
    rmse: 0.5

history:
  enabled: false # Enable to log history to db (Beta)
  expire_after: 24h # Expire after 24 hours

locators:
  nadaraya_watson:
    enabled: true
    floors: ["first", "second"]
    bandwidth: 0.5
    kernel: gaussian

  nelder_mead:
    enabled: false
    floors: ["first", "second"]
    weighting:
      algorithm: gaussian
      props:
        sigma: 0.10

  nearest_node:
    enabled: true
    max_distance: 10

# Floors w/ the points to draw it in meters
floors:

# Locations of espresense nodes in meters
nodes:

# Devices to track
devices:
  - name: "*" # Track all named devices
  - id: "tile:*" # Track all tiles
  - id: "irk:*" # Track all IRKs
  - id: "watch:*"
  - id: "phone:*"
  - id: "wallet:*"
  - id: "keys:*"
  - id: "therm:*"
  - id: "iBeacon:*"
  - id: "car:*"
  - id: "laptop:*"


# Devices to NOT track
exclude_devices:
  - id: "iBeacon:e5ca1ade-f007-ba11-0000-000000000000-*" # These are junk, we alias them to node:*
